body {
	font-family: 'Roboto', sans-serif;
	
}

h1{
	font-weight: bold;

}
.generalContainer {
	border-bottom: 1px dotted;
	margin: 30px;
}
.summary{
	font-weight: lighter;
}

.cost {
	text-align: right;
}